<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097162843224-dmq7n9ebu64ijctcokv8d6h3b97094qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097162843224-dmq7n9ebu64ijctcokv8d6h3b97094qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAMPHjl1dz8s0V8EijRIF-b2lg3okSHihI</string>
	<key>GCM_SENDER_ID</key>
	<string>1097162843224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NannyIOS</string>
	<key>PROJECT_ID</key>
	<string>nanny-6904b</string>
	<key>STORAGE_BUCKET</key>
	<string>nanny-6904b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097162843224:ios:87e06f7f3efde6c5c3562d</string>
</dict>
</plist>
